body {
  font-family: arial;
}

#navbar {
  display: flex;
  justify-content: space-around;
  padding: 2% 25% 2% 25%;
  background: #b71c1c;
}

#navbar a {
  color: white;
  font-size: 20px;
}

#name {
  display: flex;
  justify-content: space-around;
  padding: 2% 25% 0% 25%;
  color: white;
  background: #1976D2;
  font-size: 44px;
  text-align: center;
}

#title {
  display: flex;
  justify-content: space-around;
  padding: 0% 25% 2% 25%;
  color: white;
  background: #1976D2;
  font-size: 28px;
  text-align: center;
}

#description {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: grey;
}

#project-container {
  background: blue;
  color: white;
  text-align: center;
  font-size: 32px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  background: yellow;
  color: black;
  text-align: center;
  font-size: 22px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
  padding: 1%;
  border: 1px solid black;
  margin: 2px;
  /*min-height: 350px;
  max-height: 350px;*/
}

.project img {
  padding-top: 5px;
}

.project-wide {
  width: 65%;
}

.project-tall {
  width: 26.5%;
}

img {
  width: 100%;
  transition: 0.5s;
}

img:hover {
  transform: scale(1.05);
}
